@import "tailwindcss";

:root {
  color-scheme: dark;
}

/* Inter */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Italic-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Italic-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
html,
body {
  font-family: "Inter", sans-serif;
}
